In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./tmdb_movies_cleaned.csv')
df

,adult,original_language,original_title,popularity,release_date,video,vote_average,vote_count,genre_ids
0,False,en,The Shawshank Redemption,31.3466,1994-09-23,False,8.715,29596,"[18, 80]"
1,False,en,The Godfather,29.5916,1972-03-14,False,8.687,22357,"[18, 80]"
2,False,en,The Godfather Part II,19.1848,1974-12-20,False,8.570,13519,"[18, 80]"
3,False,en,Schindler's List,16.4677,1993-12-15,False,8.565,17030,"[18, 36, 10752]"
4,False,en,12 Angry Men,11.8583,1957-04-10,False,8.552,9687,[18]
...,...,...,...,...,...,...,...,...,...
21075,False,th,The Last Connection,0.0000,2026-02-12,False,0.000,0,[18]
21076,False,en,The Weeb,0.0000,2026-02-04,False,0.000,0,"[27, 53]"
21077,False,en,Parentheses,0.0000,2026-02-01,False,0.000,0,[18]
21078,False,en,Parentheses,0.0000,2026-02-01,False,0.000,0,[18]
21079,False,en,Parentheses,0.0000,2026-02-01,False,0.000,0,[18]

In [3]:
df.shape

(21080, 9)

In [4]:
df.describe()

         popularity  vote_average    vote_count
count  21080.000000  21080.000000  21080.000000
mean       6.222920      5.509752   1491.154839
std       10.070768      2.536748   3302.849993
min        0.000000      0.000000      0.000000
25%        2.995600      5.500000      5.750000
50%        5.902050      6.400000    367.000000
75%        7.012500      7.063250   1212.250000
max      455.998300     10.000000  38706.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21080 entries, 0 to 21079
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              21080 non-null  bool
 1   original_language  21080 non-null  object
 2   original_title     21080 non-null  object
 3   popularity         21080 non-null  float64
 4   release_date       21034 non-null  object
 5   video              21080 non-null  bool
 6   vote_average       21080 non-null  float64
 7   vote_count         21080 non-null  int64
 8   genre_ids          21080 non-null  object
dtypes: bool(2), float64(2), int64(1), object(4)
memory usage: 1.2+ MB